.authNavSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.authNavLink {
  background-color: rgb(184, 191, 214);
  border: none;
  text-decoration: none;
  border-radius: 15px;
  color: #3d3939;
  font-size: 27px;
  font-weight: 600;
  letter-spacing: 0.02em;
  padding: 3px 8px 6px 8px;
  margin: 20px;
}

.authNavLink:hover {
  background-color: rgb(179, 169, 169);
  color: rgb(184, 191, 214);
}
